header {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
}

.about {
  text-align: center;
  margin: 30px 100px;
}

